*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	font-family: 'Barlow',sans-serif !important;
}
h1,h2{
	font-family: 'Lobster',cursive !important;
}
.headertop{
	background-color: #808000; padding: 5px 0;
	font-size: 14px;
}
.top-left{
	display: flex;
	margin: 0px;
	align-items: center;
	height: 100%;
}
.top-left *{
	color: #fff;
	margin: 0 10px;
}
.headertop i{
	color: black;
}
.topRight, .socialIcon{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.socialIcon{
	margin-left: 10px;
}
.socialIcon a{
	color: #fff;
	margin: 5px;
	font-size: 18px;
}
.headertop a{
	color: #fff;
}
.headerNav li.nav.item .nav-link{
	color: #fff;
	font-size: 1rem;
	font-weight: 600;
	margin: 0 10px;
}

.searchForm{
	width: 50%;
}
.rigthSide{
	margin-left: 3rem;
}
.rigthSide a{
	display: inline-block;
	color: #fff;
	margin: 0 10px;
	font-size: 1.2rem;
}
.headerNav a.navbar-brand{
	color: #fff;
	font-family: 'Lobster', cursive !important;
	font-size: 2.5rem;
}
.headerNav{
	padding: 20px 0 ;
	background-color: darkolivegreen;
}
/*slide menu*/
.side-menu{
	height: 460px;
	width: 15%;
	font-size: 14px;
	float: left;
	z-index: 2;
	background-color: #ddd;
}
.side-menu ul{
	margin-left: 10px;
}
.side-menu ul li{
	list-style-type: none;
	font-weight: bold;
	margin-top: 10px;
	cursor: pointer;
}
.side-menu ul li:hover{
	color: #808000;
}
.side-menu ul li ul{
	display: none;
	z-index: 10;
	top: 77px;
}
.side-menu ul li:hover ul{
	display: block;
	height: 300px;
	margin-left: 190px ;
	padding: 0 100px 10px 10px;
	position: fixed;
	background: #ececec;
	box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
}
.fa-angle-right{
	margin-top: 4px;
	margin-right: 8px;
	float: right;
}
#menu-btn, #close-btn{
	font-size: 30px;
	margin: 10px;
	color: #4AA02C;
	display: none;
}
@media only screen and (max-width: 980px){
	.side-menu{
		width: 34%;
		z-index: 20;
		top: 33px;
		font-size: 12px;
		background: #f1f3f4;
		display: none;
	}
	.side-menu ul li ul{
		top: 133px;
	}
	.side-menu ul li:hover ul{
		margin-left: 31%;
	}
	#menu-btn{
		display: block;
	}
}
/*slide-show*/
.slider{
	width: 85%;
	margin-left: 15%;
	padding: 0 10px;
}
.carousel{
	box-shadow: 1px 1px;
}
.slider h5{
	font-weight: bold;
	color: darkgreen;
	font-size: 20px;
}

/*featured catogories*/
.feature h1{
	text-align: center;
	font-family: 'Lobster',cursive !important;
	padding-top: 30px;
	padding-bottom: 40px;
	color: #808000;
}
.featured-categories{
	margin: 50px 0;
	border-width: 10px;
	border-color: #808000;
}
.featured-categories img{
	width: 100%;
	padding: 20px 0;
	transition: 1s;
	cursor: pointer;
}
.featured-categories img:hover{
	transform: scale(1.1);
}
.featured-categories p{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
/*footer*/
.footer h7 {
  font-size: 30px;
  font-weight: bold;
}
  
  .facebook {
    text-decoration: none;
    color: #3b5998;
    font-size: 40px;
  }
  
  .facebook:hover{
    color: white;
  }
  .twitter {
    text-decoration: none;
    color: rgb(54, 153, 185);
    font-size: 40px;
  }

 

  .twitter:hover{
    color: white;
  }
  
  .instagram {
    text-decoration: none;
    color: #d60c6a;
    font-size: 40px;
  }

 

  .instagram:hover{
    color: white;
  }
