
body{
	background-image: url("C:/Users/sneha.annadurai/Documents/Agri/bg-image.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	opacity: 75%;
}
.content {
	width: 370px; 
	height: 470px;
	background-color: #808000; 
	margin-top: 100px;
 	margin-left: 500px; 
 	padding: 10px; 
 	font-family: 'Fira Sans', sans-serif;
 	border-width: 10px;
}
header{ 
	text-align: center;
	color: white;
	font-size: 20px;
}
.field{
	position: relative;
	top: 10px;
	left: 40px;
	color: white;
	/*bottom: 10px;*/
}
.option{
	padding: 10px;
}
.option-1{
	display: flex;
	text-align: center;
	padding: 10px;
}
.option-2{
	padding: 10px;
}
a:link {
	color: red;
}
